h1
{
	margin: 3.5% 60% 0% 5%;
	width: 40%;
	font-family: cursive;
	text-align: center;
	font-size: 50px;
	color: green;
	}


#first
{
	font-size: 30px;
	width: 40%;
	text-align: justify;
	position: absolute;
	margin: 1% 50% 60% 5%;
}
#second
{
	font-size: 30px;
	position: absolute;
	margin: 32% 5% 10% 50%;
	width: 39%;
	text-align: justify;
}
#detector
{
	position: absolute;
	width: 40%;
	top:12%;
	left: 48%;
}
#map
{
	position: absolute;
	width: 40%;
	bottom: 5%;
	left: 5%;
}