

.decoration img
{
	max-width: 100%;
	max-height: 100%;
}

h1
{
	text-align: center;
	color: green !important;
	font-size: 45px !important;
	font-variant: small-caps;
}

p
{
	font-size: 25px;
	text-align: justify;
	margin-bottom: 8% !important;
	margin-top: 2.5% !important;
	text-indent:50px;
}