#map
{
	position: absolute;
	right: 5%;
	top: 5%;
	width: 45%;
}
#photo
{
	position: absolute;
	right: 5%;
	bottom: 5%;
	width: 45%;
	top: 73%;
}
p
{
	font-size: 35px;
	margin: 4% 55% 3% 5%;
	text-align: justify;
}
h1
{
	margin: 4% 55% 0% 5%;
	font-size: 50px;
	font-family: cursive;
	color: green;
	text-align: center;
}