#photo
{
	position: absolute;
	right: 5%;
	top: 80%;
	width: 44.5%;
}
#map
{
	position: absolute;
	right: 5%;
	top: 11%;
	width: 45%;
}
p
{
	margin: 3% 50% 3.5% 5%;
	width: 40%;
	font-size: 30px;
	text-align: justify;
}
h1
{
	margin: 3% 55% 0% 5%;
	font-size: 45px;
	font-family: cursive;
	color: green;
	text-align: center;
}
#intro
{
	text-align: left;
}