#photo
{
	position: absolute;
	right: 5%;
	top: 60%;
	bottom: 5%;
	width: 45%;
}
#map
{
	position: absolute;
	right: 5%;
	top: 5%;
	width: 45%;
}
p
{
	margin: 3% 50% 3.5% 5%;
	width: 40%;
	font-size: 33px;
	text-align: justify;
}
h1
{
	margin: 3% 55% 0% 5%;
	font-size: 50px;
	font-family: cursive;
	color: green;
	text-align: center;
}