<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toddle="collapse" data-target="#" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('collections.index') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="{{ config.CFG_SITE_NAME_INTL[g.ln] }}" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {%- for item in current_menu.submenu('main').children if item.visible recursive %}
          {%- if item.children -%}
          <li class="dropdown">.
              <a href="{{ item.url }}" style="display: inline-block; padding-right: 5px;"> {{ item.text|safe }} </a>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display: inline-block; padding-left: 5px;">
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu pull-right">
                {{ loop(item.children) }}
              </ul>
          </li>
          {%- else -%}
          <li{% if item.active %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.text|safe }}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
